{% extends "base.html" %}
{% block body %}
{% if error != "" %}
<p>{{error}}</p>
{% endif %}
{% if not loggedIn %}
<h3>Signup form</h3>
<div class="signupForm">
    <form action="{{url_for("auth.signup")}}" method="POST">
            <label for="username">Enter username: </label>
            <input type="text" id="username" name = "signup_username"><br>
            <label for="email">Enter email: </label>
            <input type="text" id="email" name = "signup_email"><br>
            <label for="password">Enter password: </label>
            <input type="text" id="password" name = "signup_password">
            <input type= "submit" value = "Sign Up">
        </form>
</div><br><br>

<h3>Login form</h3>
<div class="loginForm">
    <form action="{{url_for("auth.login")}}" method="POST">
        <label for="username_email">Enter username or email address: </label>
        <input type="text" id="username_email" name = "username_email"><br>
        <label for="password">Enter password: </label>
        <input type="text" id="login_password" name = "login_password">
        <input type= "submit" value = "Login">
    </form>
</div>
{% else %}
<a href={{url_for("auth.logout")}}>Logout</a>
<br>
<div class="container">
<h3>Location Preference:</h3>
<p>{{locationPreference}}</p>
</div>
<br>

<div class="container">
<h3>Heat Preference:</h3>
<p>{{heatPreference}}</p>
<a href={{url_for("account.changePreferences")}}>Edit</a>
</div>

{% endif %}

{% endblock %}
