{% extends "base.html" %}

{% block body%}
<h1>Set Your Preferences</h1>
<div class="weatherSubmitDiv">
    <form action="{{url_for('account.submitPreferences')}}" method="POST" class = "weatherPreferenceForm">
            <label for="location">Enter location: </label>
            <input type="text" id="location" name = "location"><br>
            <label for="preference">Select your temperature preferences</label>
        <select name="preference" id="preference">
            <option value="hot">Hot</option>
            <option value="cold">Cold</option>
        </select>
        <input type= "submit" value = "Sign Up">
        </form>
</div>
{% endblock %}
