{% extends "base.html" %}

{% block body %}
<h1>Welcome to Your Weather</h1>
<div class = "container">
	<h2>Instant Weather, Smarter Sleep</h2>
	<p>Quickly check the current weather and upcoming forecast for any location  -- no delays, no clutter. Just accurate, real-time data at your fingertips.</p>
</div>
<div class = "container">
	<h2>Fast & Accurate Weather Data</h2>
	<p>From sudden rain showers to heatwaves, stay one step head with up-to-the-minute weather updates and multi-day forecasts. Whether you're planning youe day or packing for a trip, we've got you covered.</p>
</div>

<div class = "container">
	<h2>Personalised Experience</h2>
	<p>Create a secure account to save your preferred location then instantly access weather updates for your saved spot.</p>
</div>

<div class = "container">
	<h2>Will You Sleep Well Tonight?</h2>
	<p>Weather affects how we sleep - temperature, humidity, storms and more. <br>Once logged in, set your sleep preference and let out system tell you:</p>
	<ul><li>How the night's weather may impact your rest</li><li>Tips to improve your sleep conditions based on the forecast</li></ul>
</div>

<div class = "container">
	<h2>Get Started Now</h2>
	<p>Just enter your location and see how easy it is.</p>
</div>
{% endblock %}
