{% extends "base.html" %}


{% block body %}

    {% if user != {} %}
        <p>Hello {{user["username"]}}</p>
    {% endif %}
    {% if user["location"] != ""%}
    <p>{{user["location"]}}</p>
    {% endif %}
    <div class = "weather-container">
    <h1>Current Weather</h1>
 
    <div class = "search-box">
    <form action ="/current" method="POST">
        <input type= "text" id= "locationInp" name= "locationInp" placeholder="Enter a location, e.g. London">
        <input type="submit" id= "locationSubmit" name= "locationSubmit" value="Search">
    </form>
    </div>
<div class = weather-info">
    <strong>{{dt}} IN {{today["name"]}}{% if today["name"] != location %}, {{location}}{% endif %}</strong>

    <p>Temperature is currently {{today["main"]["temp"]}}°C degrees and feels like {{today["main"]["feels_like"]}}°C</p>

    <p>High: {{today["main"]["temp_max"]}} || Low: {{today["main"]["temp_min"]}}</p>
    <p>Humidity: {{today["main"]["humidity"]}}%</p>
    <p>Wind: {{today["wind"]["speed"]}} m/s (Gusts up to 6.81m/s)</p>
</div>
   </div>

    <p>{{today}}</p>
    
{% endblock %}
