{% extends "base.html" %}


{% block body %}

    {% if user != {} %}
        <p>Hello {{user["username"]}}</p>
    {% endif %}
    {% if user["location"] != ""%}
    <p>{{user["location"]}}</p>
    {% endif %}
    
    <h1>Current Weather</h1>
    <form action ="/current" method="POST">
        <label for="locationInp">Enter location: </label>
        <input type= "text" id= "locationInp" name= "locationInp" placeholder="e.g. London">
        <input type="submit" id= "locationSubmit" name= "locationSubmit" value="Search">
    </form>
    <h3>{{dt}} IN {{today["name"]}}{% if today["name"] != location %}, {{location}}{% endif %}</h3>

    <p>Temperature is currently {{today["main"]["temp"]}}°C degrees and feels like {{today["main"]["feels_like"]}}°C</p>

    <p>High: {{today["main"]["temp_max"]}} || Low: {{today["main"]["temp_min"]}}</p>
    <p>Humidity: {{today["main"]["humidity"]}}%</p>
    <p>Wind: {{today["wind"]["speed"]}} m/s (Gusts up to 6.81m/s)</p>


    <p>{{today}}</p>
    
{% endblock %}